.navbarlinks{
    background-color: #181A1B;
    font-family: 'Manrope', sans-serif;
    display: flex;
}

.navbarlinks_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #181A1B;
    overflow: hidden;
    padding: 10px;

}

.navbarlinks_container p {
    display: flex;
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;
}