.App {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;

}
.main-nav-active {
    color: rgb(8, 0, 0);
}

.main-nav:hover {
    color: rgb(24, 5, 5) !important;
}

.navbarlinks {
    background-color: #181A1B;
    font-family: 'Inter', sans-serif;
    display: flex;
}